# Directories
node_modules/
dist/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Other project-specific files you may want to ignore
