<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Html</title>
</head>

<body>
    <h1>This is the Blog Homepage</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, accusantium corrupti? Nemo facilis saepe
        excepturi ipsam impedit, adipisci modi atque et assumenda molestiae non nostrum consequatur tempore molestias
        doloribus natus dolores praesentium. Impedit aliquam, et, eaque quis laboriosam quidem ipsa dolorum id quos hic
        accusamus voluptates fugiat quo labore nulla.</p>
</body>

</html>